*{
	margin: 0;
	padding: 0;
}

.btn {
		background-color: inherit;
		padding: 14px 28px;
		font-size: 16px;
		cursor: pointer;
		display: inline-block;
		border: 1px solid black;
		border-radius: 5px;
		background-color: white;
	}

	/* Green */
.success {
	color: green;
}

.success:hover {
	background-color: #4CAF50;
	color: white;
}

/* Blue */
.info {
	color: dodgerblue;
}

.info:hover {
	background: #2196F3;
	color: white;
}

	/* Orange */
.warning {
	color: orange;
}

.warning:hover {
	background: #ff9800;
	color: white;
}

	/* Red */
.danger {
	color: red;
}

.danger:hover {
	background: #f44336;
	color: white;
}

/* Gray */
.default {
	color: black;
}

.default:hover {
	background: #e7e7e7;
}


.div1{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #006400;
	box-shadow: 2px 2px 2px #CCCCCC;
	z-index: 1;
	background-image: url(img/tela-1-bckg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
    filter: alpha(opacity=50);
}


.div1 h1{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: center;
	padding-top: 5px;
}

.div1 h3{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: center;
	
}

.div2{
	position: absolute;
	width: 900px;
	height: 500px;
	background-color: #000000;
	border-radius: 5px;
	z-index: 2;
	margin-top: 3.5cm;
	margin-left: 7cm;
	background-image: url(img/tela-1-bckg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid #000000;
}
.div3{
	
	background-color: #000000;
	border-radius: 5px;
	margin-top: 3.5cm;
	margin-left: 7cm;
	background-image: url(img/tela-1-bckg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid #000000;
}

body{
	background-color: grey;
}

.botoes {
	text-align: center;
	margin-top: 5cm;
}

.imagem-1 img{
	position: relative;
    margin-left:150px;
    margin-top:100px;
    border-radius: 5px;
}

.imagem-2 img{
	position: relative;
    margin-left:150px;
    margin-top:100px;
    border-radius: 5px;
}

.imagem-1 button{
	margin-left:180px;
	margin-top: 5px;
}

.imagem-2 button{
	margin-left:180px;
	margin-top: 5px;	
}

#files{
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	margin-left:300px;
	margin-top: 30px;	
}

.box {
    display: inline-block;
    /* o resto permanece igual */
}
#formCall{
	visibility: hidden;
}


.div1 .success{
	margin-top: 3cm;
	margin-left: 2.5cm;
}

.div1 .info{
	margin-top: 2cm;
	margin-left: 2cm;
}


.chamadas{
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 2cm;
	margin-left: 0.5cm;
	padding: 1cm;
	z-index: 3;
}